@font-face {
  font-family: "High Cruiser";
  src: url("../public/fonts/HighCruiser.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "High Cruiser", sans-serif;
    font-weight: 100;

}

.App {
  min-height: 100%;
}

.text-blue {
  color: #3677cd;
}

.text-light-blue {
  color: #bad6da;
}

.bg-blue {
  background-color: #3677cd;
}

.bg-green {
  background-color: #b4e255;
}

.bg-light-blue {
  background-color: #bad6da;
}

.hover-bg-light-blue:hover {
  background-color: #bad6da;
}
.hover-bg-blue:hover {
  background-color: #3677cd;
}
.hover-text-blue:hover {
  color: #3677cd;
}
.hover-text-light-blue:hover {
  color: #bad6da;
}

@media (hover: hover) {
  .hoverable:hover {
    background-color: #bad6da;
    color: white;
    border-color: #d1d5db;
  }
}