.App {
  min-height: 100%;
}

.text-blue {
  color: #2f55c4;
}

.text-light-blue {
  color: #bad6da;
}

.bg-blue {
  background-color: #2f55c4;
}

.bg-light-blue {
  background-color: #bad6da;
}

.hover-bg-light-blue:hover {
  background-color: #bad6da;
}
.hover-bg-blue:hover {
  background-color: #2f55c4;
}
.hover-text-blue:hover {
  color: #2f55c4;
}
.hover-text-light-blue:hover {
  color: #bad6da;
}
